/* General */

h1,
h2,
p,
.btn-sign-up {
  margin-top: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background: var(--light-gray);
}

/* colors */

:root {
  /* primary */
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 61%, 49%);
  --very-light-cyan: hsl(179, 55%, 75%);
  /* #49bebd */
  --yellow: hsl(71, 73%, 54%);

  /* neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

/* Typography */

.vertical-center,
.features {
  opacity: 65%;
}

h1 {
  color: var(--cyan);
  font-size: 1.5rem;
}

h2 {
 font-size: 1rem;
 line-height: 1.5;
}

p {
  font-size: .85rem;
  line-height: 1.75;
}

strong {
  font-size: 2.5em;
  font-weight: 700;
}

.container-lower h2 {
  font-size: 1.15rem;
}

.monthly-price {
  display: flex;
  align-items: center;
  padding: 0;
  height: 2.5em;
}

.monthly-price p {
  margin-right: .5em;
  height: 100%;
}

.vertical-center {
  opacity: 65%;
  padding-top: .5em;
}

.features {
  line-height: 1.5;
}

/* Layout */

.container-upper,
.sign-up,
.description {
  padding: 1.5em;
}

.container-main {
  margin: 1.5em;
}


.container-lower {
  color: white;
  width: 100%;
}

.container-upper {
  color: var(--grayish-blue);
  background-color: white;
  border-top-left-radius: .35em;
  border-top-right-radius: .35em;
}

.container-upper h2 {
  color: var(--yellow);
}

.monthly-price {
  margin-bottom: .5em;
}

.sign-up {
  background-color: var(--cyan);
}

.sign-up p:nth-child(3) {
  margin-bottom: 1.5em;
  /* background-color: blue; */
}

.description {
  background-color: var(--light-cyan);
  border-bottom-left-radius: .35em;
  border-bottom-right-radius: .35em;
}

.attribution { 
  font-size: 11px; text-align: center;
  }

.attribution a { 
  color: hsl(228, 45%, 44%);
  }

/* media-queries --- (layout) */



/* buttons */

.btn-sign-up {
  display: grid;
  place-items: center;
  font-weight: 700;
  background-color: var(--yellow);
  height: 3em;
  border-radius: .5em;
}

.btn-sign-up:hover {
  background-color: white;
  color: var(--yellow);
  cursor: pointer;
}